<nav class="fixed-nav-bar">
  <div id="edit" class="edit">
    <!-- Example responsive navigation menu  -->
    {{#if categories}}
    <a href="#"><span class="glyphicon glyphicon-search nav-left-button" aria-hidden="true"></span></a>
    <input type="text" id="searchBar"/>
    <a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a>

    {{/if}}
	{{#unless categories}}
	<a href="/" onClick="history.back();return false;"><span class="glyphicon glyphicon-chevron-left nav-left-button" aria-hidden="true"></span></a>
    {{!-- <a href="/list/{{json.0.category.id}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a> --}}
	{{/unless}}

    <a href=""><span class="glyphicon title" aria-hidden="true">
    {{#if categories}}
    	iFridge
    {{else}}
    	{{#if list}}
    		{{list.0.category.name}}
    	{{else}}
    		{{#if user}}settings{{/if}}
    	{{/if}}
    {{/if}}
    </span></a>

    {{#if categories}}
    <a href="/settings" class="transition"><span class="glyphicon glyphicon-cog nav-right-button" aria-hidden="true">
    {{/if}}
    {{!--home button for item page--}}
    {{!-- {{#if list}}{{/if}} --}}

	<!-- <a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
	<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/> -->
	<!-- <a href="/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> -->

  </div>
</nav>