<!DOCTYPE html>
<html>
<head>
	{{> metadata}}	
	{{> library_includes}}
</head>
<body>
	<div class="container">	
		{{>navbar}}
		
		<div class="panelB panelB-primary">
			{{!-- <a href="/item/{{iid}}"></a> --}}
			<form id="addForm" role="form">
				<h3>Add an Item</h3>
		    	<div class="form-group">
		      		<label for="name">Item Name:</label>
		      		<input type="text" class="" id="inputItemName" placeholder="Item Name" name="name">
		    	</div>
		    	<div class="form-group">
		      		<label for="Category">Category:</label>
		      		<input type="text" class="" id="inputCategory" placeholder="Item's Category" name="category">
		    	</div>
		    	<div class="form-group">
		      		<label for="expDate">Exp Date:</label>
		      		<input type="text" class="" id="inputDateExp" placeholder="mm/dd/yyyy" name="expDate">
		    	</div>
		    	<input type="submit" id="newItem" value="Add the Item">
		    	<input type="button" id="Btn" onclick="window.location.href='/';" value="Cancel">
			</form> 
		</div>
	</div>
</body>
</html>