<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- set UTF-8 character set -->
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- device dependent rendering & disable touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/navbar.js"></script>

		<title>iFridge</title>
 	</head>

	<body>
		<div class="container">

			<!-- navigation bar -->
			<nav class="navbar navbar-default" id="navBar">
				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<input type="text" id="searchBar"/>
				<!-- <a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
				<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/> -->
				<a href="/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
				<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a>
				<a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
  			</nav>

			<!-- list of categories -->
			{{#each categories}}
				<a class="clickable" href="/list/{{id}}">
				<div class="panel panel-warning" id="{{id}}">
					{{name}}
				</div>
				</a>
			{{/each}}
		</div>
	</body>

</html>

<!-- div {}

#id {}

.class {} -->

