<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{> metadata}}
		<meta name="apple-mobile-web-app-title" content="iFridge" />
		<link rel="apple-touch-icon" href="/img/apple-touch-icon-iphone.png">
		<link rel="apple-touch-startup-image" href="/img/startup-image.png">
		{{> library_includes}}
		{{> tracking}}
 	</head>
	<body>
		<div id="bodyContainer" class="container">
			{{> navbar}}
			<div class="content">
			{{#each categories}}
				<a class="clickable transition" href="/list/{{id}}">
				<div class="panel panel-warning catPanel" id="{{id}}">
					{{name}}
				</div>
				</a>
			{{/each}}
			</div>
			<nav class="fixed-bottom-bar">
				<a href="/add" class="transition"><span class="glyphicon glyphicon-plus plus version_a" aria-hidden="true"></span></a>
			</nav>
		</div>
	</body>
</html>