<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<!-- full-screen mobile app experience (after save to home screen) -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- device dependent rendering & disable touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<!-- nativize & set status bar color -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- set app name display on Home screen -->
		<meta name="apple-mobile-web-app-title" content="ifridge" />

		<link rel="apple-touch-icon" href="/img/apple-touch-icon-iphone.png">
		<link rel="apple-touch-startup-image" href="/img/startup-image.png">

		<!-- jQuery & BootStrap -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- self-defined css & js -->
		<script type="text/javascript" src="/js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		

		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/navbar.js"></script>



		<title>iFridge</title>
 	</head>

	<body>
{{!-- 		<nav class="navbar navbar-default navbar-fixed-top">
		  <div id="navContainer" class="container">
		    iFridge
		  </div>
		</nav>
		<div id="bodyContainer" class="container"> --}}
			<!-- navigation bar -->
			<nav class="navbar navbar-default" id="navBar">
				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<input type="text" id="searchBar"/>
				<!-- <a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
				<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/> -->
				<a href="/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
				<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a>
				<a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
  			</nav>

			<!-- list of categories -->
			<div class="content">
			{{#each categories}}
				<a class="clickable" href="/list/{{id}}">
				<div class="panel panel-warning catPanel" id="{{id}}">
					{{name}}
				</div>
				</a>
			{{/each}}
			</div>
		</div>
	</body>
</html>