<!DOCTYPE html>
<html lang="en-US">
<head>
	{{> metadata}}	
	{{> library_includes}}
</head>
<body>
	<div class="container">
		<div class="col-sm-12">
		<!-- navigation bar -->
			<nav class="navbar navbar-default">
				<a href="/list/{{0.category.id}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
{{!-- 				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
			<input type="text" id="searchBar"/>
			<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a> --}}
{{!-- 				<a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
			<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/> --}}
			{{!-- <a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> --}}
			</nav>
			</div>
		<div class="row">
			<div class="col-sm-12 panelB">
				<img id="itemImg" src="{{0.imageURL}}">
				<div id="itemInfo">
					<h4>{{0.name}}<!-- Blueberry --></h4>
					<p>Expire: {{0.dateExp}}</p>
					<button id="deleteItem">COMPLETED</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>