<!DOCTYPE html>
<html>
<head>
	{{> metadata}}	
	{{> library_includes}}
</head>
<body>
<div class="container">
	<div class="panelB">
		<h1 class="title">iFridge</h1>
		<form action="/" id="lg-form" name="lg-form" method="get">
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
			</div>
			<div>				
				<button type="submit" id="login">Login</button>
				<button type="signup" id="signup">Sign up</button>
			</div>
		</form>
			<div id="message"></div>
		</div>
	</div>
</body>
</html>