<!DOCTYPE HTML>

<head>
		<meta charset="utf-8" />
		<title>iFridge</title>

		<!-- mobile web app experience related -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="ifridge" />
		<link rel="apple-touch-icon" href="/img/apple-touch-icon-iphone.png">
		<link rel="apple-touch-startup-image" href="/img/startup-image.png">

		<!-- libraries & plugins -->
		<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery.stayInWebApp.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		
		<!-- self-defined css & js -->
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/navbar.js"></script>
{{!-- 
	<script type="text/javascript">
	
	$(document).ready(function(){
		$("#login").click(function(){
			
			var action = $("#lg-form").attr('action');
			var form_data = {
				username: $("#username").val(),
				password: $("#password").val(),
				is_ajax: 1
			};
			
			$.ajax({
				type: "POST",
				url: action,
				data: form_data,
				success: function(response)
				{
					if(response == "success")
						$("#lg-form").slideUp('slow', function(){
							$("#message").html('<p class="success">You have logged in successfully!</p><p>Redirecting....</p>');
						});
					else
						$("#message").html('<p class="error">ERROR: Invalid username and/or password.</p>');
				}	
			});
			return false;
		});
	});
	</script>  --}}
</head>
{{!-- <body id="userbody"> --}}
<body>
<div class="container">
	{{!-- <div class="lg-container"> --}}
	<div class="panelB">
		<h1 id="app">iFridge</h1>
		<form action="/" id="lg-form" name="lg-form" method="get">
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
			</div>
			<div>				
				<button type="submit" id="login">Login</button>
				<button type="signup" id="signup">Sign up</button>
			</div>
			
		</form>
		<div id="message"></div>
		</div>
	</div>
</body>
</html>