<!DOCTYPE HTML>

<head>
	<meta charset="UTF-8">
	<html lang="en-US">
	<!-- full-screen mobile app experience (after save to home screen) -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- device dependent rendering & disable touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<!-- self-defined css & js -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		

	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/navbar.js"></script>
<!-- 
	<script type="text/javascript">
	
	$(document).ready(function(){
		$("#login").click(function(){
			
			var action = $("#lg-form").attr('action');
			var form_data = {
				username: $("#username").val(),
				password: $("#password").val(),
				is_ajax: 1
			};
			
			$.ajax({
				type: "POST",
				url: action,
				data: form_data,
				success: function(response)
				{
					if(response == "success")
						$("#lg-form").slideUp('slow', function(){
							$("#message").html('<p class="success">You have logged in successfully!</p><p>Redirecting....</p>');
						});
					else
						$("#message").html('<p class="error">ERROR: Invalid username and/or password.</p>');
				}	
			});
			return false;
		});
	});
	</script>  -->
</head>
{{!-- <body id="userbody"> --}}
<body>
<div class="container">
	{{!-- <div class="lg-container"> --}}
	<div class="panelB">
		<h1 id="app">iFridge</h1>
		<form action="/" id="lg-form" name="lg-form" method="get">
			
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
			
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
			</div>
			
			<div>				
				<button type="submit" id="login">Login</button>
			<!-- </div>
			<div> -->				
				<button type="signup" id="signup">Sign up</button>
			</div>
			
		</form>
		<div id="message"></div>
		</div>
	</div>
</body>
</html>