<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{> metadata}}	
		{{> library_includes}}
		<script src="/js/util.js"></script>
	</head>

<body>
	{{>navbar }}
	<div class="container">
		{{>navbar }}

		<!-- item details -->
		<div>
			<!-- TODO: color & notification settings -->

			<!-- user info & logout -->
			<div id="user">
			<hr/>
			<h4>Current User: </h4>
			<h3 id="userInfo">j4tao</h3>
			<button id="logout">Sign Out</button>
			</div>
		</div>
	</div>
</body>
</html>