<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>iFridge</title>

		<!-- mobile web app experience related -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{{!-- 		<meta name="apple-mobile-web-app-title" content="ifridge" />
		<link rel="apple-touch-icon" href="/img/apple-touch-icon-iphone.png">
		<link rel="apple-touch-startup-image" href="/img/startup-image.png"> --}}

		<!-- libraries & plugins -->
		<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/js/jquery.stayInWebApp.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		
		<!-- self-defined css & js -->
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/navbar.js"></script>
		<script src="/js/util.js"></script>
	</head>

	<body>
		<div class="container">
			<!-- navigation bar -->
  			<nav class="navbar navbar-default">
  				<a href="/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
  				<a href=""><center><span class="glyphicon" id="FruitsCategory" aria-hidden="true">Settings</a>
{{!-- 				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<input type="text" id="searchBar"/>
				<a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
				<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/>
				<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a> --}}
{{!-- 				<a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> --}}
  			</nav>

			<!-- item details -->
			<div>
				<!-- TODO: color & notification settings -->

				<!-- user info & logout -->
				<div id="user">
				<hr/>
				<h4>Current User: </h4>
				<h3 id="userInfo">j4tao</h3>
				<button id="logout">Sign Out</button>
				</div>
			</div>
		</div>
	</body>
</html>

<!-- div {}

#id {}

.class {} -->

