<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{> metadata}}	
		{{> library_includes}}
		<script src="/js/util.js"></script>
	</head>

<body>
	<div class="container">
		<!-- navigation bar -->
			<nav class="navbar navbar-default">
				<a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				<a href=""><span class="glyphicon" id="FruitsCategory" aria-hidden="true">Settings</a>
{{!-- 				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
			<input type="text" id="searchBar"/>
			<a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
			<input type="file" capture="camera" accept="image/*" id="cameraInput" hidden="hidden"/>
			<a href="#"><span class="glyphicon" id="cancel" aria-hidden="true">cancel</span></a> --}}
{{!-- 				<a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a> --}}
			</nav>
		<!-- item details -->
		<div>
			<!-- TODO: color & notification settings -->

			<!-- user info & logout -->
			<div id="user">
			<hr/>
			<h4>Current User: </h4>
			<h3 id="userInfo">j4tao</h3>
			<button id="logout">Sign Out</button>
			</div>
		</div>
	</div>
</body>
</html>