/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}
/*
.project{
  background-color: gray;
  margin-left: 20px;

    margin-left: 20px;
    background-color: #deebf7;
    padding: 20px;
    width: 525px;
}*/

.thumbnail {
}

.project p {
    font-variant: small-caps;
}

#project1 {
    font-variant: small-caps;
}

.jumbotron {
     position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     /* background: rgba(51,51,255,0.8); url("http://lorempixel.com/1140/283");*/
     background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
     background: linear-gradient(red, blue); /* Standard syntax */
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

.top{
    left:50%;
}

.thumbnail{
    font-size:200%;
    text-align: center;
}

.button{
    text-align:center;
    margin:5%;
    position: relative;
    left:10%;
}

/*
#scan{
    position: absolute;
    left:50%;
    margin-right:-50%;
}

.add{
    position: absolute;
    float:right;
    left:0%;
    margin-right:-50%;
}*/
